<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" 
    "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
<title>untitled</title>
<style type="text/css">



tr.Completed {
    display: none;
}

tr.Deleted {
    display: none;
}
tr {
	background: skyblue;
}
td {
	font-size: smaller;
	padding: 2px;
	border: 3px #000 double;
}

</style>
<script src="/static/js/jquery-latest.js"></script>
<script src="/static/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(document).ready(function()
    {
        $("#abc").tablesorter();
    }
);
</script>
</head>
<body>
<table id="abc" class="tablesorter">
<thead><th>ID</th><th style="width:50;">From</th><th style="width:50;">To</th><th style="width:100;">Type</th><th>Submitted</th><th>Completed</th><th style="width: 75;">Status</th><th style="width: 100;">Reward</th><th style="width: 100;">Collateral</th><th style="width:75;">Volume</th><th>ISK/m3</th></thead>
<tbody>
{{ data }}
</tbody>
<input type="button" id="button1" value="Toggle Completed" />
<input type="button" id="button2" value="Toggle Deleted" />

</table>
<script>
$('#button1').click(function() {
    // all trs with level-1 class inside abc table
    $('#abc tr.Completed').toggle();
});

$('#button2').click(function() {
    // all trs with level-1 class inside abc table
    $('#abc tr.Deleted').toggle();
});
</script>

Data Cached until: {{ time }}

</body>
</html>