{% extends "layout.html" %}

{% block content %}
<style type="text/css">



tr.Completed {
    display: none;
}

tr.Deleted {
    display: none;
}

tr.Rejected {
    display: none;
}

tr.Failed {
    display: none;
}

tr {
	background: skyblue;
}
td {
	font-size: smaller;
	padding: 2px;
	border: 3px #000 double;
}

</style>
<script src="/static/js/jquery-latest.js"></script>
<script src="/static/js/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(document).ready(function()
    {
        $("#abc").tablesorter();
    }
);

</script>

<table id="abc" class="tablesorter">
<thead><th>ID</th><th style="width:50;">From</th><th style="width:50;">To</th><th style="width:100;">Title</th><th>Submitted</th><th>Completed</th><th style="width: 75;">Status</th><th style="width: 100;" id="{sorter: 'fancyNumber'}">Reward</th><th style="width: 100;" id="{sorter: 'fancyNumber'}">Collateral</th><th style="width:75;" id="{sorter: 'fancyNumber'}">Volume</th><th>ISK/m3</th></thead>
<tbody>
{{ data }}
</tbody>
<input type="button" id="button1" value="Toggle Completed" />
<input type="button" id="button2" value="Toggle Deleted" />
<input type="button" id="button3" value="Toggle Rejected" />
<input type="button" id="button6" value="Toggle Failed" />
<input type="button" id="button4" value="Toggle In-progress" />
<input type="button" id="button5" value="Toggle Outstanding" />

</table>
<script>
$('#button1').click(function() {
    // all trs with level-1 class inside abc table
    $('#abc tr.Completed').toggle();
});

$('#button2').click(function() {
    // all trs with level-1 class inside abc table
    $('#abc tr.Deleted').toggle();
});

$('#button3').click(function() {
    // all trs with level-1 class inside abc table
    $('#abc tr.Rejected').toggle();
});

$('#button4').click(function() {
    // all trs with level-1 class inside abc table
    $('#abc tr.InProgress').toggle();
});

$('#button5').click(function() {
    // all trs with level-1 class inside abc table
    $('#abc tr.Outstanding').toggle();
});

$('#button6').click(function() {
    // all trs with level-1 class inside abc table
    $('#abc tr.Failed').toggle();
});

$( function() {

    $.tablesorter.addParser({
        id: "fancyNumber",
        is: function(s) {
            return /^[0-9]?[0-9,\.]*$/.test(s);
        },
        format: function(s) {
            return $.tablesorter.formatFloat(s.replace(/,/g, ''));
        },
        type: "numeric"
    });
});
</script>

Data Cached until: {{ time }}
To check on the status of the Frogsiren store, check out <a href="http://lots.dyndns.info:5015">this</a> page
{% endblock %}
