{% extends "layout.html" %}
{% block content %}
    <div class="jumbo">
        <h2></h2>
        <marquee behavior="scroll" direction="left"><img src="/static/img/frogsiren.gif" alt="Frogsiren Freight"/>
        </marquee>
        <h1>Welcome to Frogsiren Services!</h1>

        <h2>Now offering <a href="#">Frogsiren Mart!</a></h2>

        <h2>    For shipping information, please refer to <a
                href="https://forum.pleaseignore.com/topic/60494-frogsiren-freight-jf-service-jita-amarr-and-sendaya/">this</a> post <br />
            For more information about Frogsiren Mart, refer to <a href="#">this</a> post in Services and Investments sections
        </h2>




        We haul on the following routes:
        <table>
            <thead>
            <th>Station</th>
            <td>&nbsp</td>
            <th>Station</th>
            <td>&nbsp</td>
            <th>Cost</th>
            </thead>
            {{ route_info }}
        </table>
        <br/>
        Our running 5 day average wait time is: <b>{{ running_average }}</b> hours<br/>
        Overall wait time is: <b>{{ overall_average }}</b> hours<br/>
    </div>
{% endblock %}
