<!DOCTYPE html>
<html>
<head>
    <title>Frogsiren Freight</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<header>
    <div class="container">
        <h1 class="logo">Frogsiren Mart and Freight</h1>
        <strong>
            <nav>
                <ul class="menu">
                    <li><a href="{{ url_for('display_default') }}">Home</a></li>
                    <li><a href="#">Store</a>
                        <ul class="submenu">
                            <li><a href="#">Browse</a> </li>
                            <li><a href="#">Shopping Cart</a></li>
                        {%  if 'email' in session %}
                            <li><a href="#">Item Management</a></li>
                        {% endif %}
                        </ul>
                    </li>
                    {% if 'email' in session %}

                        <li><a href="#">Shipping</a>
                            <ul class="submenu">
                                <li><a href="{{ url_for('display_contracts') }}">Contracts</a></li>
                                <li><a href="{{ url_for('routes') }}">Routes</a></li>
                                <li><a href="{{ url_for('check_contracts') }}">Check</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Admin</a>
                            <ul class="submenu">
                                <li><a href="#">Bulk</a></li>
                                <li><a href="#">Orders</a></li>
                                <li><a href="#">Something</a></li>
                            </ul>
                        </li>

                    {% else %}
                        <li><a href="{{ url_for('signin') }}">Sign in</a></li>
                    {% endif %}
                </ul>

            </nav>
        </strong>
    </div>
</header>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>

