{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Routes</h2>
    <table border="1">
        <thead><th>Start</th><th>End</th><th>Cost</th><th>Status</th><th>Functions</th></thead>
        {{ route_content }}
    </table>


    <h2>Stations</h2>
    <table>
        <thead><th>Station Name</th><th>StationID</th><th>SystemID</th></thead>
        {{ station_content }}
    </table>

  <h2>Add a route</h2>
  <form action="{{ url_for('display_routes') }}" method=post>
      <table>
          <tr><td>End StationID</td><td>End StationID</td><td>Cost</td></tr>
          <tr><td> {{ rform.start_station_id }} </td><td> {{ rform.end_station_id }} </td><td> {{ rform.cost }} </td></tr>
      </table>
      {{ rform.submit }}

  </form>

  <h2>Add a station</h2>
  <form action="{{ url_for('display_routes') }}" method=post>
      <table>
          <tr><td>StationID</td><td>Station Name</td><td>SystemID</td></tr>
          <tr><td>{{ sform.station_id }}</td><td>{{ sform.station_name }}</td><td>{{ sform.system_id }}</td></tr>
      </table>
      {{ sform.submit }}
  </form>


  </div>
{% endblock %}
