{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2></h2>
    <marquee behavior="scroll" direction="left"><img src="/static/img/frogsiren.gif" alt="Frogsiren Freight" /></marquee>
    <h1>Welcome to Frogsiren Freight!</h1>
    <h2>For more information, please refer to our post in Services and Investments sections <a href="https://forum.pleaseignore.com/topic/60494-frogsiren-freight-jf-service-jita-amarr-and-sendaya/">here</a></h2>


    We service the following routes currently:
    <table>
        {{ route_info }}
    </table>

    Our running 5 day average wait time is: {{ running_average }} <br />
    Overall wait time is: {{ overall_average }}
  </div>
{% endblock %}
